.container{
    padding-top:30px;
    overflow: hidden;
    padding-left: 10px;
    }
    .card {
     /* Add shadows to create the "card" effect */
     background-color: antiquewhite;
     border: 3px solid rgb(42, 81, 255);
     border-radius: 5px;
     width: 70%;
     margin-top:3%;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     clear: both;
     transition: 0.3s;
    }
    .Paraheader{
    padding:1%; 
    font-size: 20px; 
    font-weight: 700;
    border-bottom: 2px solid rgb(192, 192, 192);
    text-align: center;
    }
    .card-body{padding:5%; line-height: 20px;}
    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 5px 8px 10px 5px rgba(0,0,0,0.2);
    }

    .highlight {
        font-weight: bold;
    }
    
    
.Nav{
    background-color: rgb(42, 81, 255); 
    list-style-type: none;
    text-align: left;
    position: fixed; top:0; width:100%;
    text-align: left;
    }


.Nav li{
    display: inline-block;
    font-size: 20px;
    }
.Nav li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color:white
    }

li a:hover {
    border-radius: 20px;
    background-color: rgb(56, 142, 255);
    color: black;
    transition: 0.5s;
}

.stickRight {
    float: right;
    padding-right: 20px;
}

.active {
    background-color: hsl(212, 100%, 69%);
}

#myphoto {
    
    width: 250px; 
    height: 300px; 
    clear: left; 
    padding-left: 200px; 
    padding-top: 50px; 
}


#name {
    float: right; 
    padding-top: 170px;
    padding-right: 1050px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#name:hover{
    text-shadow: 3px 2px rgba(54, 67, 107, 0.603);
    transition: 1.5s
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(162, 181, 235);
}
